<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67076159030-t9l0hqrlsl0f1l16v61g8eij0q2fe183.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67076159030-t9l0hqrlsl0f1l16v61g8eij0q2fe183</string>
	<key>API_KEY</key>
	<string>AIzaSyD6abS2xHRv1IbfUDPJ3TFujTfeYdyo5RY</string>
	<key>GCM_SENDER_ID</key>
	<string>67076159030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shafeer.meditationapp</string>
	<key>PROJECT_ID</key>
	<string>meditationapp-cd6ff</string>
	<key>STORAGE_BUCKET</key>
	<string>meditationapp-cd6ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67076159030:ios:6b6fa684c2f94f77</string>
	<key>DATABASE_URL</key>
	<string>https://meditationapp-cd6ff.firebaseio.com</string>
</dict>
</plist>